*{
    margin: 0px;
}
.videoTag{
	position: fixed; 
	min-width: 100%; 
	min-height: 100%; 
	width: 1352.05px;
    height: 965.39px;
	z-index: -1000;
    left: -5.05px;
    top: -147.39px;
} 

#inputsLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#textTrybe{
    position: absolute;
    width: 85.88px;
    height: 33.79px;
    left: 500px;
    top: 180px;
    font-size: 50px;
    font-weight: 100;
}

#textWallet{
    position: absolute;
    width: 112.15px;
    height: 26.76px;
    left: 628px;
    top: 180px;
    color: #7560D5;
    font-weight: bold;
    font-size: 50px; 
}

#email-input{
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 40px;
    left: 475px;
    top: 260px;
    background: #FFFFFF;
    border: 1px solid #7560D5;
    border-radius: 5px;
}

#password-input{
    box-sizing: border-box;
    position: absolute;
    width: 330px;
    height: 40px;
    left: 475px;
    top: 310px;
    background: #FFFFFF;
    border: 1px solid #7560D5;
    border-radius: 5px;
}

#button-enter {
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 40px;
    left: 515px;
    top: 370px;
    background: #E1F2F1;
    border: 1px solid #E1F2F1;
    border-radius: 5px;
    font-weight: bold;
}